{{yield}}
<div class="collection {{if isOpen "show"}}">
    <button class="collection__close" {{action 'close'}}>{{fa-icon 'times'}}</button>
    <!-- Collection Slider -->
    {{#swiper-container class="collection__slider"}}
        {{#each model as |home index|}}
            {{#each home.slides as |slide|}}
                {{#swiper-slide style="background-image:url('{{slide}}')"}}{{/swiper-slide}}
            {{/each}}
        {{/each}}
    {{/swiper-container}}
</div>

<button class="collection__view" {{action 'open'}}>{{fa-icon 'long-arrow-right'}} View Collection</button>
