{{yield}}
<div class="collection {{if toggleModal 'show'}}">
    <button class="collection__close" {{action 'toggleModal'}}>Close</button>
    <!-- Collection Slider -->
</div>

<button class="collection__view" {{action 'toggleModal'}}>{{fa-icon 'long-arrow-right'}} View Collection</button>
