{{yield}}
<div class="collection {{if isOpen "show"}}">
    <button class="collection__close" {{action 'close'}}>{{fa-icon 'times'}}</button>
    <!-- Collection Slider -->
    {{#swiper-container class="collection__slider" pagination=true loop=true}}
        {{#swiper-slide}}
            <img class="collection__slider--slide" src="{{home.slide}}">
        {{/swiper-slide}}
        {{#swiper-slide}}
            <img class="collection__slider--slide" src="{{home.slide1}}">
        {{/swiper-slide}}
        {{#swiper-slide}}
            <img class="collection__slider--slide" src="{{home.slide2}}">
        {{/swiper-slide}}
    {{/swiper-container}}
</div>

<button class="collection__view" {{action 'open'}}>{{fa-icon 'long-arrow-right'}} View Collection</button>
