<ul class="menu">
    <a class="menu__icon" href="#lifestyle"></a>
    <div class="menu__right">
        <li class="menu__link"><a href="#about">About</a></li>
        <li class="menu__link"><a href="#contact">Contact</a></li>
    </div>
</ul>

<a class="title" href="/"><h1>Amber Rose Crotteau Photo</h1></a>

<ul class="category">
    <div class="line"></div>
    {{#each model as |home|}}
            <li class="category__item"><a href="/#{{home.button}}">{{home.button}}</a></li>
    {{/each}}
    <div class="line"></div>
</ul>

{{outlet}}

{{#fullpage-js}}

        {{#each model as |home index|}}
            <div class="section featured" style="background:{{home.color}}" data-anchor="{{home.button}}">
                <div class="featured__wrapper">
                    <div class="featured__image featured__image{{index}}" style="background-image:url('{{home.url}}');"></div>
                </div>

                <div class="collection">
                    <div class="collection__close">Close</div>
                    <!-- Collection Slider -->
                </div>
                <div class="collection__view">-> View Collection</div>
            </div>
        {{/each}}
        <div class="fp-auto-height section about" style="background-color:{{home.color}}" data-anchor="about">
            <h1 class="about__title">About</h1>
        </div>
        <div class="fp-auto-height section contact" style="background-color:{{home.color}}" data-anchor="contact">
            <h1 class="contacts__title">Contact</h1>
        </div>

{{/fullpage-js}}
