<ul class="menu">
    <li class="menu__icon"><a href="#">Amber Rose Crotteau Photography</a></li>
    <div class="menu__right">
        <li class="menu__link"><a href="#">About</a></li>
        <li class="menu__link"><a href="#">Contact</a></li>
    </div>
</ul>

<ul class="category">
    {{#each model as |home|}}
            <li class="category__item"><a href="#">{{home.button}}</a></li>
    {{/each}}
</ul>


{{outlet}}

{{#fullpage-js}}

    <div id="fullpage">
        {{#each model as |home|}}
            <div class="section featured" style="background-color:{{home.color}}">
                <div class="featured__image"style="background-image:url('{{home.url}}');"></div>
            </div>
        {{/each}}
        <div class="fp-auto-height section about" style="background-color:{{home.color}}">
            <h1 class="about__title">About</h1>
        </div>
        <div class="fp-auto-height section contact" style="background-color:{{home.color}}">
            <h1 class="contacts__title">Contact</h1>
        </div>
    </div>

{{/fullpage-js}}
